body {
background-image: url("tlo.jpg");
background-size: 100%;
font-family: cursive;
color: forestgreen;
}
.tytul { 
background-color: khaki;
text-align: center;
}
p {
background-color: khaki;
}	

	




